* {
    margin: 0; 
    padding: 0;
}

body {
    background-image: url(Bilder/BJjpg.jpg);
    background-size: cover;
}

.board {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 2fr 2fr 2fr 1fr;
    justify-items: center;
}

.card {
    height: 190px;
    margin-left: -90px;
}

.card:first-child {
    margin-left: 0;
}

.dealer {
    grid-column: 2/3;
    grid-row: 2/3;
    /* display: flex;
    justify-content: space-around; */

}
